button {
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  cursor: pointer;
  transition: all .2s ease-in-out;
  background-color: #ff69b4;
}

html {
  height: 100%;
  width: 100%;
  background-color: #45424D;
}
.body {
  font-family: Montserrat;
  position: relative;
  margin: 0px;
  height: 100%;
}
.body__header {
  color: #FFF;
  display: block;
  font-size: 22px;
  text-align: center;
  padding: 13px;
}
.body__header__title {
  width: 100%;
}
.activities {
  color: #CBC9CF;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  min-height: 600px;
}
.activities__new-activity {
  background-color: #2B2733;
  min-width: 800px;
  width: 66%;
}
.activities__new-activity__h2 {
  position: relative;
  left: 5%;
}
.activities__new-activity {
  background-color: #2B2733;
  display: flex;
  flex-direction: column;
}
.activities__select-category {
  background-color: #45424D;
  width: 90%;
  height: 100%;
  text-align: center;
  align-self: center;
  border-radius: 5px;
  color: #FFF;
  box-shadow: 8px 8px 5px 5px #26222D;
  max-height: 63%;
  min-height: 60%;
}
.activities__form {
  padding: 30px;
  min-width: 350px;
}
.activities__p {
  text-align: left;
  position: relative;
  padding: 0 38px;
  margin-bottom: 0px;
}
.activities__icons-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
}
.activities__figure {
  border: 2px #FFF solid;
  justify-content: space-between;
  padding: 7px 48px;
  height: 43px;
  width: 40px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center 5px;
  cursor: pointer;
  z-index: 100;
  transition: all .2s ease-in-out;
}
.activities__figure > p {
  margin-top: 24px;
  z-index: 200;
  pointer-events: none;
}
.activities__input-section {
  display: flex;
  flex-direction: column;
  padding: 0px 38px;
}
.activities__input-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
  padding-top: 20px;
  justify-content: space-between;
}
.activities__text-field {
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #CBC9CF 2px;
  padding: 3px 10px;
  font-size: 15px;
  line-height: 2;
  color: #CBC9CF;
}
.activities__input-description {
  text-align: initial;
}
.activities__input-description-block {
  display: flex;
  flex-direction: column;
  flex: auto;
}
.activities__input-description-block--margin {
  margin-right: 120px;
}

.activities__input-description__warning {
  color: #EFB7EC;
  display: block;
  align-self: flex-start;
  padding-top: 70px;
  position: absolute;
}

.activities__text-field--warning {
  border-bottom: solid #EFB7EC 2px;
}

.activities__input-description__warning-icon {
  height: 15px;
  padding-right: 5px;
}

.study-icon {
  background-image: url(./assets/study.svg);
}
.study-icon:hover {
  color: #B3FD78;
  border-color: #B3FD78;
  background-image: url(./assets/study-active.svg);
}
.study-icon--active {
  color: #B3FD78;
  border-color: #B3FD78;
  background-image: url(./assets/study-active.svg);
}
.meditate-icon {
  background-image: url(./assets/meditate.svg);
}
.meditate-icon:hover {
  color: #C278FD;
  border-color: #C278FD;
  background-image: url(./assets/meditate-active.svg);
}
.meditate-icon--active {
  color: #C278FD;
  border-color: #C278FD;
  background-image: url(./assets/meditate-active.svg);
}
.exercise-icon {
  background-image: url(./assets/exercise.svg);
}
.exercise-icon:hover {
  color: #FD8078;
  border-color: #FD8078;
  background-image: url(./assets/exercise-active.svg);
}

.exercise-icon--active {
  color: #FD8078;
  border-color: #FD8078;
  background-image: url(./assets/exercise-active.svg);
}
.activities__start-button {
  border: none;
  padding: 8px 25px;
  font-size: 15px;
  border-radius: 6px;
  color: #45424D;
  align-self: flex-end;
}

.activities__past-activity {
  width: 34%;
  margin-left: 5px;
  background-color: #2B2733;
  min-width: 300px;
}

.activities__past-activity__h2 {
  margin-left: 35px;
}

.activities__past-activity__p {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 30px;
  line-height: 2;
}
.activities__cards {
  color: #FFF;
}
.--hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.activities__timer--study {
  color: #B3FD78;
}
.activities__timer--meditate {
  color: #C278FD;
}
.activities__timer--exercise {
  color: #FD8078;
}
.activities__timer {
  position: relative;
  height: 300px;
  width: 300px;
  padding: 40px;
}
/* Removes SVG styling that would hide the time label */
.activities__timer__circle {
  fill: none;
  stroke: none;
}
/* The SVG path that displays the timer's progress */
.activities__timer__path-elapsed {
  stroke-width: 1px;
  stroke: #45424D;
}
.activities__timer__button {
  position: absolute;
  /* Size should match the parent container */
  width: 300px;
  height: 300px;
  /* Keep the label aligned to the top */
  top: 0;
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 50px;
}

.activities__timer__log-button {
  border: none;
  width: 223px;
  padding: 8px 25px;
  font-size: 15px;
  border-radius: 6px;
  color: #45424D;
  align-self: flex-end;
  margin: 20px;
}

.activities__timer__button__text {
  cursor: pointer;
  font-size: 22px;
  margin-top: 273px;
}

.activities__timer__button__text--nopointer {
  cursor: none;
}

.activities__timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 1px;
  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;
  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;
  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;
  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.activities__timer__clock {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 70px;
}

.activities__timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(1);
  width: 223px;
  margin-top: 26px;
}

/* .activities__timer__svg:hover {
  transition: all .6s ease-in-out;
  background-color: salmon;
} */

.activities__select-category--apply-flex {
  display: flex;
  justify-content: center;
}
