html {
  height: 100%;
  width: 100%;
  background-color: #45424D;
}

.body {
  font-family: Montserrat;
  position: relative;
  margin: 0px;
  height: 100%;
  /* width: 100%; */
}

.body__header {
  color: #FFF;
  display: block;
  /* background-color: #45424D; */
  font-size: 22px;
  text-align: center;
  padding: 13px;
}

.body__header__title {
  width: 100%;
}

.activities {
  color: #CBC9CF;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.activities__new-activity {
  background-color: #2B2733;
  min-width: 800px;
  width: 66%;
}

.activities__new-activity__h2 {
  /* display: flex; */
  /* new addition */
  position: relative;
  /* align-self: flex-start; */
  left: 5%;
}

.activities__new-activity {
  background-color: #2B2733;
/* new additions */
  display: flex;
  flex-direction: column;
}

.activities__select-category {
  background-color: #45424D;
  width: 90%;
  height: 100%;
  text-align: center;
  /* mew addition */
  align-self: center;
  border-radius: 5px;
  color: #FFF;
  box-shadow: 8px 8px 5px 5px #26222D;
  max-height: 84%;
  min-height: 60%;
}

.activities__form {
  padding: 30px;
  min-width: 350px;
}

.activities__p {
  text-align: left;
  position: relative;
  padding: 0 38px;
}

.activities__icons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
}

.activities__figure {
  border: thin #FFF solid;
  justify-content: space-between;
  padding: 7px 48px;
  height: 43px;
  width: 40px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5px;
  max-width: 220px;
  margin: auto; */
}

.activities__input-section {
  display: flex;
  flex-direction: column;
}

.activities__input-field {
  display: flex;
  flex-direction: column;
}

.activities__text-field {
  background-color: transparent;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #CBC9CF 2px;
  padding: 3px 10px;
}

.activities__activity-button {
  height: 20px;
  width: 20px;
}

.activities__start-button {

}

.activities__past-activity {
  width: 34%;
  margin-left: 5px;
  background-color: #2B2733;
  min-width: 300px;
}

.activities__past-activity__h2 {
  margin-left: 35px;
}

.activities__past-activity__p {
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 30px;
  line-height: 2;
}

.activities__cards {
  color: #FFF;
}
